<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Real Lobby</title>

            <h4> My Profile Pic</h4>
            <img style="height: 200px; width: 200px;" src=  "<%= image %>"" >
            <h4> My Profile Music </h4>
            <audio controls>
                <source src 
            </audio>
            <p> Current Username:  <%= users %> </p> <br> <br>

</head>
<body>
    
</body>
</html>